# salin ke .env lalu isi. JANGAN commit .env ke git.
WAHA_URL=http://192.168.0.170:3000
WAHA_KEY=7a76d93a6809f8bb692524bf06c69d7717d3de18d36429e3
WAHA_SESSION=default
# nomor yang BOLEH pakai bot (tanpa +, pisah koma). Kosong = semua (TIDAK disarankan).
ALLOWED_NUMBERS=6289617180294
# model claude (sonnet=hemat, opus=kualitas tinggi)
CLAUDE_MODEL=claude-sonnet-4-6
CLAUDE_TIMEOUT=600
